<div class="container">
  <p-card header="Register">
    <form class="register-form" [formGroup]="registerForm" (ngSubmit)="onSubmit()">
      <div class="p-fluid">
        <div class="p-col-12">

          <div class="p-field">
            <label for="userTag">User Tag</label>
            <input id="userTag" pInputText formControlName="userTag" placeholder="Unique user tag" />
          </div>
        </div>

          <div class="p-field">
            <label for="email">Email</label>
            <input id="email" pInputText formControlName="email" placeholder="Email address" />
          </div>

          <div class="p-field">
            <label for="username">Username</label>
            <input id="username" pInputText formControlName="username" placeholder="Username" />
          </div>

          <div class="p-field">
            <label for="password">Password</label>
            <p-password id="password"  type="password" formControlName="password" placeholder="Password" />
          </div>

          <div class="p-field-checkbox">
            <p-checkbox inputId="acceptTerms" [binary]="true" formControlName="acceptTerms"></p-checkbox>
            <label for="acceptTerms">I accept the terms and conditions</label>
          </div>

          <button pButton type="submit" label="Register" class="p-button-raised p-button-primary" [disabled]="isFormInvalid()"></button>
      </div>
    </form>
  </p-card>
</div>
