@if (user) {
    <p-image
    src="https://raw.githubusercontent.com/Hukasx0/Fuwa/main/logo.jpeg" alt="Avatar" width="250"></p-image>
    <h1>{{ user.username }}</h1>
    <h2>{{ user.tag }}</h2>
    @if (user.bio) {
        <p>{{ user.bio }}</p>
    }
    <p-tabMenu [model]="tabs" [activeItem]="tab"></p-tabMenu>
    @if (tab) {
        @switch (tab.label) {
            @case ("snippets") {
                @defer {
                    <app-user-code-snippets [userTag]=user.tag />
                } @loading (after 100ms; minimum 1s) {
                    <div>loading...</div>
                }
            }
            @case ("posts") {
                @defer {
                    <app-user-posts [userTag]=user.tag />
                } @loading (after 100ms; minimum 1s) {
                    <div>loading...</div>
                }
            }
            @case ("comments") {
                @defer {
                    <app-user-comments [userTag]=user.tag />
                } @loading (after 100ms; minimum 1s) {
                    <div>loading...</div>
                }
            }
            @case ("likes") {
                @defer {
                    <app-user-likes [userTag]=user.tag />
                } @loading (after 100ms; minimum 1s) {
                    <div>loading...</div>
                }
            }
            @default {
                <app-user-main [userTag]=user.tag />
            }
        }
    }
} @else {
    <div>Not found</div>
}