@if (post) {
    <p-card header="{{ post.title }}" subheader="posted {{ post.createdDate | timeAgo }}">
        <p class="m-0">
            {{ post.text }}
        </p>
        <p>by <b routerLink="/{{ post.postedBy.tag }}">{{ post.postedBy.username }}</b></p>
    </p-card>
    <div>
        @for (comment of postComments; track comment.id) {
            <p-fieldset>
                <ng-template pTemplate="header">
                    <div routerLink="/{{ post.postedBy.tag }}" class="flex align-items-center gap-2 px-2">
                        <p-avatar image="https://raw.githubusercontent.com/Hukasx0/Fuwa/main/logo.jpeg" shape="circle" />
                        <span class="font-bold">{{ comment.postedBy.username }}</span>
                    </div>
                </ng-template>
                <p class="m-0">
                    {{ comment.text }}
                </p>
                <p>
                    {{ comment.createdDate | timeAgo }}
                </p>
            </p-fieldset>
        } @empty {
            <div>no comments</div>
        }
        
    </div>
} @else {
    <div>Not found</div>
}