<form class="login-form" [formGroup]="loginForm" (ngSubmit)="onSubmit()">
    <mat-form-field appearance="fill">
      <mat-label>Login or Email</mat-label>
        <input matInput formControlName="loginOrEmail" />
      </mat-form-field>
  
      <mat-form-field appearance="fill">
        <mat-label>Password</mat-label>
        <input matInput type="password" formControlName="password" />
      </mat-form-field>
  
    <button mat-raised-button color="primary" type="submit" [disabled]="isFormInvalid()">Login</button>
</form>
  