<form class="login-form" [formGroup]="loginForm" (ngSubmit)="onSubmit()">
  <div class="p-field">
    <label for="userTagOrMail">Login or Email</label>
    <input id="userTagOrMail" pInputText formControlName="userTagOrMail" />
  </div>

  <div class="p-field">
    <label for="password">Password</label>
    <input id="password" pPassword type="password" formControlName="password"  />
  </div>

  <button pButton type="submit" label="Login" class="p-button-raised p-button-primary" [disabled]="isFormInvalid()"></button>
</form>
