<div class="container">
  <p-card header="Login">
    <form [formGroup]="loginForm" (ngSubmit)="onSubmit()" class="login-form">
      <div class="p-fluid">
        <div class="p-field p-col-12">
          <label for="userTagOrMail">Login or Email</label>
          <input id="userTagOrMail" pInputText formControlName="userTagOrMail" placeholder="Your user tag or email address" />
        </div>

        <div class="p-field p-col-12">
          <label for="password">Password</label>
          <input id="password" pPassword type="password" formControlName="password" placeholder="Password" />
        </div>

        <div class="p-field p-col-12">
          <button pButton type="submit" label="Login" class="p-button-raised p-button-primary" [disabled]="isFormInvalid()"></button>
        </div>
      </div>
    </form>
  </p-card>
</div>
